body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px; 
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 40px;
    text-align: center;
}

img {
    width: 10%;
    height: 10%;
    margin-top: 15px;
    text-align: center;
}

.logo {
    background-color: darkorange;
    text-align: center;
}

.naglowek {
    background-color: darkorange;
    text-align: center;
    color: white; 
}


.input-text {
    width: 350px;
}

.button {
    background: darkorange; 
    color: white;
    border: 0; 
    font-size: 20px;
    width: 150px; 
    text-align: center;
}